*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* ab color lgate h color side se le aao  */
    background-color:#4f772d;
}
input{
    margin: 2rem;
    height: 3rem;
    width: 27rem;
    border-radius: 20px;
    padding: 0.75rem;
    font-size: 1.75rem;
    outline: none;
}
li{
    height: 3rem;
    width: 24rem;
    display: flex;
    justify-content: space-between;
    font-size:1.50rem;
    background-color:white;
    border: black solid;
    margin: 0.25rem;
    padding:0.50rem;
    
}