*{
    box-sizing:border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.toolbox-cont{
    height: 5rem;
    background-color: black;
    /* display flex diya taki ek line me aa jaye jo toolbox-cont me h*/
    display: flex;
    /* y axis par move ke liye align-item use karte hai */
    align-items:center;

}
.toolbox-priority{
    height: 3rem;
    background-color: rgb(91, 214, 124) ;
    width: 18rem;
 /*dono ke beech thoda sa space chahiye justify se kam nhi bn raha to margin lga ke bnate h */
    margin-left: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.action-btn-cont{
    height: 3rem;
    width: 10rem;
    background-color: rgb(91, 214, 124);
     /*dono ke beech thoda sa space chahiye justify se kam nhi bn raha to margin lga ke bnate h */
    margin-left: 5rem;
}.color{
    height: 1.5rem;
    width: 3rem;
    background-color: red;
 /* in charo div ko line me lane ke liye iske parent(toolbox-priority) ko display flex de do */
 /* unke beech me space ke liye justify content bhi de dena */
 /* aur upper se(y axis se) center me lane ke liye align-item use karna */
 /* ab charo div ka color alag-2 karna hai to ek class ya id aur de do charo div ko */
}
.pink{
 background-color: pink;
}
.blue{
    background-color: aquamarine;
}
.green{
  background-color:greenyellow;  
}
.black{
    background-color: rgb(56, 36, 36);
}
/* charo div ko color ho gya ab next div bnate h icon wala jisme btn h */
.action-btn-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.add-btn{
    font-size:1.5rem;
    
}
.remove-btn{
    font-size:1.5rem ;
}
.modal-cont{
background-color:lightgreen;
height: 50vh;
width: 50vw;
/* display: flex; */
display: none;
/* agr writing box chahte ho ki na dikhe to display none kar do nhi dikhega */
/* jab + par click kre tab dikhe to ye javascript se karenge(eventListner lga denge +par)*/
/* margin-left: 20rem;
margin-top: 7rem; iski jgh postion absolue use krenge iske bare me mdn se pdhh lo */
position: absolute;
left:25vw;
top:25vh;
}
.textarea-cont{
outline: none;
border: none;
resize: none;
background-color:skyblue;
height: 100%;
width: 75%;
font-size:2rem;
padding:1rem;
}
.priority-color-cont{
 height: 100%;
 width: 25%;
 /* width parent ka 25% hai */
display: flex;
flex-direction: column;
/*flex direction change karne par align-item and justify-content opposite kam karne lagte hai*/
/* align-item x and justify-content y me */
justify-content: space-around;
align-items: center;

}
.priority-color{
height: 2rem;
width: 4rem;

}
.main-cont{
    margin-top:2rem;
    /* display: flex; ye dene se ek line me ho gye but jyada ticket hone se koi space
    bhi nhi hai aur sare horizontal hai ham chahte ki jo extra bache wo neeche shift
    ho jaye to iske liye flex wrap propertiy use karenge*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
/* abhi bhi row ke beech space nhi hai iske liye use karte hai gap nam ki property */
/* margin top lgaoge to har row me lgana padega hme row nhi pta kita hai isliye gap
 property use kiya */
gap: 2rem;
}
.ticket-cont{
background-color:yellow;
height: 10rem;
width: 15rem;


}
.ticket-color{
background-color: cadetblue;
height: 1rem;

}
.ticket-id{
    background-color: goldenrod;
    height: 1.5rem;
}
.task-area{
/* height: 7.5rem;calculate na karna pade iske liye calsc use karte hai */
height:calc(100%-1rem-1.5rem);
padding: 5px;
}