*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.toolbox-cont{
    background-color:lightgreen;
    height:5rem;
    display: flex;
    align-items: center;
}
.toolbox-priority-cont{
    background-color:lightseagreen;
    height: 3rem;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.action-btn-cont{
    background-color:lightseagreen;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.color{
    height: 1.5rem;
    width: 3rem;
}
.lightpink{
    background-color: lightpink;
}
.blue{
    background-color: lightskyblue;
}
.green{
    background-color: lightgreen;
}
.black{
    background-color:rgb(75, 70, 70);
}
.add-btn{
    font-size: 2rem;
}
.remove-btn{
    font-size: 1.5rem;
}