*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:#E5F9BD;
}
.toolbox-cont{
    background-color:#212121;
    height:5rem;
    display: flex;
    align-items: center;
}
.toolbox-priority-cont{
    background-color:#83A95C;
    height: 3rem;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.action-btn-cont{
    background-color:#83A95C;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.color{
    height: 1.5rem;
    width: 3rem;
}
.lightpink{
    background-color: lightpink;
}
.blue{
    background-color: lightskyblue;
}
.green{
    background-color: lightgreen;
}
.black{
    background-color:rgb(75, 70, 70);
}
.add-btn{
    font-size: 2rem;
}
.remove-btn{
    font-size: 1.5rem;
}
.modal-cont{
background-color: #ECECEC;
height:50vh;
width: 50vw;
/* display: flex;jab js apply kiye to by defalut none set kiya ise */
display: none;
position: absolute;
top: 25vh;
left: 25vw;
/* margin-left: 20rem;
margin-top: 7rem; */
}
.textarea-cont{
outline: none;
border: none;
resize: none;
padding: 2rem;
font-size: 2rem;
background-color:#D6E0F0;
height: 100%;
width: 77%;
}
.priority-color-cont{
 height: 100%;
 width: 25%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.priority-color{
height: 3rem;
width: 5rem;
}
.active{
    border: 2px solid red;
}

.main-cont{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.ticket-cont{
    background-color: #A3DDCB;
    height: 10rem;
    width:15rem;
    
}
.ticket-color{
   height: 1rem;
}
.ticket-id{
  background-color: burlywood;
  height: 1.5rem;
}
.task-area{
 height:5.5rem;
 /* height jo likha tha wo work nhi kr raha tha is liye hta diya*/
 padding:5px;
 font-size:1.25rem;
 overflow: auto;
 outline: none;
 word-break: break-all;
 /* iska kam width se jyada bda word hota hai to use next line me le ata hai */
 /* ye hta and lga ke dekh lena lamba likhne par kya fark ata h */
  
}
.lock-unlock{
    font-size: 1.5rem;
    margin-left: 13rem;
}